body .section{
  padding: 2% 2.5%;
  padding-bottom: 65px;
  color: rgba(1, 1, 1, .8);
}
.header-menu-bar{
  padding: 0 2.5%;
}
a{
  color: rgba(1, 1, 1, .8);
}

h1 {
  text-align: center;
  font-weight: bold;
}

.media-320, .media-768, .media-1024, .media-1025 {
    display: none;
    overflow: hidden;
}
/*하단 메뉴바 - 461픽셀 이하가 될 때 모양변조*/
.lower-menu-bar{
  position:fixed;
  display: flex;
  left:0px;
  bottom:0px;
  height:65px;
  width:100%;
  color: rgba(1, 1, 1, .8);
  border-top: 1px solid rgba(1, 1, 1, .1);
  font-size: .9rem;
  background-color: white;
  z-index: 99;
}
.lower-menu-bar div{
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  position: relative;
}
.lower-menu-bar div a{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
.lower-menu-bar div a:hover{
  color:rgba(1, 1, 1, .2);
}
.lower-menu-bar div a.active-lower-menu{
  color:#26a69a;
}
.lower-menu-bar div a i{
  display: block;
}
/*지도 좌측상단 주소표시*/
#map-container{
  position: relative;
}
#map{
  width:100%;
  height:400px;
}
.title {
  font-weight:bold;
  display:block;
}
.hAddr {
  position:absolute;
  left:1%;
  top:10px;
  border-radius: 2px;
  background:#fff;
  background:rgba(255,255,255,0.8);
  z-index:1;
  padding:5px;
}
#centerAddr {
  display:block;
  margin-top:2px;
  font-weight: normal;
}
/*내주변 -- 맛집*/
.list-filter-tv-show {
  font-weight: bold;
  font-size: 1.1rem;
}
.list-filter-tv-show div{
  display: inline-block;
  margin-right: 1rem;
}
.list-filter-tv-show .select-wrapper{
  width: 40%;
}
/*현재 위치 상태바*/
.now-location-address-bar{
  position: relative;
}
.now-location-address-bar div{
  margin-bottom: .7rem;
  display: inline-block;
  font-size: 1rem;
}
.now-location-address-bar div:nth-child(1){
  font-weight: bold;
  margin-right: .5rem;
}
.now-location-address-bar div:nth-child(2){
  margin-right: 1rem;
}
.now-location-address-bar div:nth-child(3){
  top:.3rem;
  margin-right: 8rem;
}
/*현재위치에서 반경 검색 옵션*/
.now-location-address-bar div:nth-child(4){
  position: absolute;
  right: 0;
}
.now-location-address-bar div:nth-child(4) div.select-wrapper{
  margin-left: .5rem;
  width: 5rem;
}
/*현재 위치에서 ...*/
.now-state-bar{
  font-weight: bold;
  margin: .5rem 0;
}
/*주소 변경 창*/
.search-screen {
    position: fixed;
    overflow-y: none;
    left: 0px;
    top: 0px;
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.70);
    z-index: 99;
}
.search-screen input {
    text-align: center;
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 10rem;
    height: 80px;
    font-weight: 200;
    color: white
}
.search-screen div{
  position: relative;
}
.search-screen div .btn {
    margin-top: 14px;
    margin-right: 20px;
}
.search-screen div div.btn{
  position: absolute;
  top: 20rem;
  right:0
}
/*가게 카드영역*/
.store-card{
  position: relative;
  padding: 1rem;
  border-radius: .5rem;
  margin-bottom: 1.4rem;
  -moz-box-shadow: 1px 2px 3px 3px rgba(1, 1, 1, .1);
  -webkit-box-shadow: 1px 2px 3px 3px rgba(1, 1, 1, .1);
  box-shadow: 1px 2px 3px 3px rgba(1, 1, 1, .1);
  color: rgba(1, 1, 1, .6);
  font-size: .9rem;
}
.store-card .store-card-title{
  color: rgba(1, 1, 1, .9);
  font-weight: bold;
}
.store-card>div{
  display: inline-block;
}
.store-card>div img{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  width: 8rem;
  height: 8rem;
  border-radius: .5rem;
  object-fit: cover;
  margin-right: 1rem;
  display: inline;
}
.store-card>div:nth-child(2){
  margin-left: 9rem;
}
.store-card>div.normal{
  position: absolute;
  right:1rem;
  top:50%;
  transform: translateY(-50%);
}
.store-card>div.small{
  position: absolute;
  right:1rem;
  top:2rem;
}
.store-card>div.normal a{
  margin: 0 .2rem;
}
/*헤더 (태블릿, pc에만 적용)*/
.header{
  width:100%;
  margin-bottom: 1rem;
}
.header .nav-extended{
  padding-top: 1rem;
  background-color: #26a69a;
}
.header .nav-extended .fixed-active{
  color: white !important;
  border-bottom: 2px solid white;
  background-color: rgba(1, 1, 1, .05);
}
#nav-mobile{
  margin-right: 24px;
}
/*로그인, 회원가입*/
.auth-container{
  text-align: center;
}
.login-register-button{
  display: inline-block;
  width:50%;
}
/*관리자-가게등록*/
.store-form{
  padding-top: 1rem;
}
.store-form div.row{
  margin-bottom: 0;
}
.store-form input, select{
  margin-bottom: 1.2rem;
}
.input-field.inline{
  margin-left: 0;
  margin-right: 1rem;
  margin-bottom: .2rem;
}
.store-form div div div.waves-effect{
  margin-bottom: 1rem;
}
/*가게 등록 중 방송 출연 정보 수정 및 추가*/
.current-option-lists{
  margin-top: .5rem;
  padding: 0 .5rem;
}
.create-new-option-button{
  margin: .4rem 1rem 1rem 0;
  color: #5fbebb;
  background: #eeeeee;
  display: inline-block;
  padding: 0 1rem;
  border-radius: .7rem;
}
.create-new-option-button i{
  position: relative;
  top: .2rem;
}
.create-new-option-button div{
  position: relative;
  top: -0.3rem;
  display: inline-block;
  margin-left:.5rem;
}
.edit-option-view{
  padding: 1rem 1.5rem 3.5rem 1.5rem;
  background-color: #eeeeee;
  border-radius: .7rem;
  position: relative;
  margin-bottom: 1rem;
}
.edit-option-done-button{
  background-color: #5fbebb;
  color: white;
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  padding: .3rem 1rem;
  border-radius: .7rem;
  margin-top: .5rem;
  position: absolute;
  bottom: .9rem;
  right: 1.5rem;
}
.edit-option-delete-button{
  background-color: #5fbebb;
  color: white;
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  padding: .3rem 1rem;
  border-radius: .7rem;
  margin-top: .5rem;
  position: absolute;
  bottom: .9rem;
  right: 6.5rem;
}
.store-form .title{
  font-size: .9rem;
  color: #9e9e9e;
  padding: 0 .75rem;
}
/*가게 등록 중 메뉴 정보 수정 및 추가*/
.current-menu-lists{
  margin-top: .5rem;
  padding: 0 .5rem;
}
.create-new-menu-button{
  margin: .4rem 1rem 1rem 0;
  color: #5fbebb;
  background: #eeeeee;
  display: inline-block;
  padding: 0 1rem;
  border-radius: .7rem;
}
.create-new-menu-button i{
  position: relative;
  top: .2rem;
}
.create-new-menu-button div{
  position: relative;
  top: -0.3rem;
  display: inline-block;
  margin-left:.5rem;
}
.edit-menu-view{
  padding: 1rem 1.5rem 3.5rem 1.5rem;
  background-color: #eeeeee;
  border-radius: .7rem;
  position: relative;
  margin-bottom: 1rem;
}
.edit-menu-done-button{
  background-color: #5fbebb;
  color: white;
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  padding: .3rem 1rem;
  border-radius: .7rem;
  margin-top: .5rem;
  position: absolute;
  bottom: .9rem;
  right: 1.5rem;
}
.edit-menu-delete-button{
  background-color: #5fbebb;
  color: white;
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
  padding: .3rem 1rem;
  border-radius: .7rem;
  margin-top: .5rem;
  position: absolute;
  bottom: .9rem;
  right: 6.5rem;
}
.store-form .title{
  font-size: .9rem;
  color: #9e9e9e;
  padding: 0 .75rem;
}
/*가게등록-사진업로드*/
.upload-thumnail-continer{
  margin: 1rem auto;
  text-align: center;
}
.upload-thumnail-continer img{
  width: 15rem;
  height: 15rem;
  display: block;
  margin: 1rem auto;
}
/*가게등록-완료버튼*/
.button-container{
  text-align: center;
}
.button-container button{
  margin: 1rem 0;
}
/*관리자 페이지-가게등록으로 이동하는 버튼*/
.go-to-add-store-button-container{
  margin-bottom: .5rem;
}
.go-to-add-store-button-container>div{
  display: table;
  position: relative;
  width: 100%;
  height: 3rem;
}
.go-to-add-store-button-container div a{
  position: absolute;
  right:0;
  top:50%;
  transform: translate(0, -50%);
}
.go-to-add-store-button-container>div>div{
  width: 70%;
  display: table-cell;
  vertical-align: middle;
  padding-left: 1rem;
}
/*수정 삭제버튼*/
.store-card .normal{
  display: none;
}
.store-card .small{
  display: none;
}
.store-card .small a{
  text-align: right;
  display: block;
  font-weight: bold;
}
.store-card .small a:nth-child(1){
  color:#2196F3;
}
.store-card .small a:nth-child(2){
  color:#26a69a;
}
/*삭제 확인*/
.delete-confirm-view{
  font-size: 1.5rem;
}
.delete-confirm-view h1{
  margin: 2rem 0;
}
.delete-buttons{
  margin: 2rem 0;
}
.delete-buttons div{
  margin: 0 .5rem;
}
/*가게 상세정보*/
.detailed-view>div>div.name{
  margin: .5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}

/*미디어 쿼리 for 반응형 웹*/
@media all and (max-width: 369px) {
  /*스마트폰*/
  .media-320 {
    display: block;
  }
  body .section{
    padding-bottom: 60px;
  }
  #map{
    height:300px;
  }
  .lower-menu-bar{
    height: 60px;
    font-size: 0.6rem;
  }
  .store-card{
    width:99%;
    margin: auto;
    margin-bottom: 1.4rem;
  }
  .go-to-add-store-button-container>div>div{
    width: 60%;
  }
}
@media all and (min-width: 370px) and (max-width: 461px) {
  /*스마트폰*/
  .media-320 {
    display: block;
  }
  #map{
    height:330px;
  }
  .lower-menu-bar{
    font-size: 0.8rem;
  }
  .store-card{
    width:99%;
    margin: auto;
    margin-bottom: 1.4rem;
  }
}
@media all and (min-width: 462px) and (max-width: 767px) {
  /*스마트폰*/
  .media-768 {
    display: block;
  }
  .store-card{
    width:99%;
    margin: auto;
    margin-bottom: 1.4rem;
  }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  /*태블릿*/
  .media-1024 {
    display: block;
    padding: 0 10%;
  }
  body .section{
    padding-bottom: 0;
    padding-top: 0;
  }
  #map-container {
    padding: 0 10%;
  }
  .hAddr {
    left: 11%;
  }
  .list-filter-tv-show{
    padding: 0 10%;
  }
  .now-location-address-bar{
    padding: 0 10%;
  }
  .now-location-address-bar div:nth-child(4){
    right: 10%;
  }
}
@media all and (min-width: 993px) and (max-width: 1024px) {
  /*헤더 태블릿 적용안되는 부분*/
  .header .nav-extended .brand-logo{
    padding-left: 24px;
  }
}
@media all and (min-width: 1025px) {
  /*pc*/
  .media-1025 {
    display: block;
    padding: 0 12%;
  }
  body .section{
    padding-bottom: 0;
    padding-top: 0;
  }
  .header .nav-extended .brand-logo{
    padding-left: 24px;
  }
  #map-container {
    margin: 0 12%;
  }
  .list-filter-tv-show{
    padding: 0 12%;
  }
  .now-location-address-bar{
    padding: 0 12%;
  }
  .search-screen div div.btn{
    position: absolute;
    top: 16rem;
    right:0
  }
  .now-location-address-bar div:nth-child(4){
    right: 12%;
  }
}
@media all and (max-width: 440px) {
  /*admin-수정 삭제버튼*/
  .store-card .small{
    display: block;
  }
}
@media all and (min-width: 441px) {
  /*admin-수정 삭제버튼*/
  .store-card .normal{
    display: block;
  }
}
